:root{
    --vermelho:#e94b53;
    --cinza:#3c3c3c;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--cinza);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

header .logo{
    color: var(--vermelho);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color:#aaa;
    margin-right: 10px;
}

header nav a:hover{
    color:#fff;
}

/* filme principal*/
.img-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('../img/ofc_fundo2.jpg');
    
    height: 400px;
    background-size:cover;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.img-principal .descricao{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.img-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
}

.botao{
    background-color:rgba(0,0,0,.50);
    border: none;
    color:white;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
}

.botao:hover{
    background-color:#e7353d;
    color: white;
    transition: .3s ease all;
}

.botao i{
    margin-right: 8px;
}

.container{
    margin-left: 20px;
}

.img-principal .container{
    width: 70%;
}

/* configuração de imagens carrosel */
.box-imgs{
    height: 100%;
    width: 100%;
    display: block;
}

.rodape{
    background:#000;
    padding:20px;
    display: flex;
    flex-direction: column;
}

.carrosel-cds{
    margin-top: 5px;
}